<configuration>

	<property name="LOG_FILE" value="log" />
	<property name="LOG_DIR" value="${log.file.path:-test-output}" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%36.36logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/${LOG_FILE}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%36.36logger{36}] -
				%msg%n</pattern>
		</encoder>
	</appender>

	<springProfile name="fileLogs">
		<root level="info">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
	
	<springProfile name="allLogs">
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
</configuration>